/* Tag Styles */
body {
  background-color: #3d3e43;
  background-image: url('assets/images/pipes.png');
  font-family: Arial;
  text-align: center;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 40px 80px;
  border: 1px solid #a12727;
  border-radius: 8px;
  background: #ff4a4a;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ff4a4a),
      to(#992727));
  background: -moz-linear-gradient(top, #ff4a4a, #992727);
  background: linear-gradient(to bottom, #ff4a4a, #992727);
  -webkit-box-shadow: #f9ff59 -3px 4px 54px 6px;
  -moz-box-shadow: #f9ff59 -3px 4px 54px 6px;
  box-shadow: #f9ff59 -3px 4px 54px 6px;
  text-shadow: #591717 6px 10px 2px;
  font: normal normal bold 40px impact;
  color: #ffffff;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background: #ff5959;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#ff5959),
      to(#b62f2f));
  background: -moz-linear-gradient(top, #ff5959, #b62f2f);
  background: linear-gradient(to bottom, #ff5959, #b62f2f);
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background: #982727;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#982727),
      to(#982727));
  background: -moz-linear-gradient(top, #982727, #982727);
  background: linear-gradient(to bottom, #982727, #982727);
}

.button:before {
  content: '\0000a0';
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACsElEQVRIic2ST0gUARTGvzczO5ksri60a+khOvRHooOHkEyxMEowKjt1sktgKgVBhKe6yBSbStAhiM4WyaiUhFgGHeoUFIhN/yhJotXZ2VXXdWd2Zl4Hd0Vhy93VoDeXYXjf771vvgf8rzXTH/Tm0icUBB8K7kQpfoRHgvfDA4HizPfo7RJJv+WrXN1LBQ0YDlZDprcAwMwTwrTTLcRxDITTwqzphWlXlPUs6QAgFTIABJuJM+/7IVM/iCHMmhAi5i+3TDYyrQX9IgbKCcsPGIBMy3DdBAhq2c24m+nNy0H4cUDAVroCEd1gBohAACjuQNRNAAwWhBerNfk5KKYHkCgEIplBADNIZ9ACgQEwE+Dw9ejlopXg8xvA+ACXdTCDCMvwCAMiARIBYBDjgGC6dzKSvK/o/IUzRQtJ6+W5Pd8PHvGGVxYUpxIQFlPpPSjm+OQKfyieyCuD8qOX5IH3i/12yqmx5vl5Q8NMY9pawvV5mshyDRBLABn+UDwB5BFybVuo2DLtR18/TzW7jvtQEOVWgL+BaAcYV/035l5l0+WUweGLt0s8svxEEKi51Ocd2FIktw6rQxYABcx3wXzvT9p1M6ht6/F7ZGkkuZSsmTPmnroOn/04pFi5LLbugLr23oAkic+SSbM6FomNM/NJTVUSucL/OqCuvbdSksRR07Sqonr0NTM3aaoynw8cAMSs8I6eXZLHM25Zqd2xSOwdM5/QVCWWLxzIckX1HX1VoiSOpqxUZVSPTrqu26SpipFNnEutcVDf2VctSuKYnbK3G7rxxXXcRm1Q+VkoHFh1pvWdfYdEURxzbCdg6Ma067jHtUFleiNwIO1gX0uX7PF43gDYFtWjM47tNGqq8mmjcCCdgcOwY0ZsAoAN4JSmKpObAV9TVS3XhL0tXfKmg/91/QYcCyH50nVMIQAAAABJRU5ErkJggg==') no-repeat left center transparent;
  background-size: 100% 100%;
}

/* ID Styles */
#super-wrapper {
  float: left;
  position: absolute;
  top: 160px;
  width: 100%;
}

#wrapper {
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  position: relative;
}

#main-table {
  width: 100%;
}

#main-table tr,
#main-table td {
  width: 50%;
  padding-bottom: 15px;
}

#main-table div {
  text-align: left;
  padding: 20px;
  color: black;
  font-family: times;
  height: 275px;
}

#main-table ul {
  padding-left: 20px;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#main-table li {
  margin-bottom: 5px;
}

#main-table iframe+a {
  color: aqua;
  font-size: 13px;
}

#navy {
  float: left;
  width: 180px;
  font-size: 13px;
}

#navy div {
  padding: 0px 10px 10px 10px;
  width: 100%;
  text-align: left;
}

#navy a {
  width: 100%;
}

#navy ol {
  padding-left: 15px;
}

#navy li {
  padding-bottom: 5px;
}

#music {
  display: none;
}

/* Class Styles */
.b-box {
  margin-bottom: 15px;
}

.b-box textarea {
  display: block;
  width: 100%;
  height: 80px;
  resize: none;
}

.alert {
  color: green;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.rounded {
  border-radius: 10px;
}

.frogbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Animations */
.clouds {
  opacity: 0.7;
  width: 100%;
  height: 362px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 400px;
}

.clouds>div {
  width: 2526px;
  background: url('assets/images/cloud.png');
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.clouds .mover-1 {
  animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-20%);
  }
}

@keyframes jump {

  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.jump {
  animation: jump 1s infinite;
  transform-origin: center bottom;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(700px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(700px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.flip:hover {
  backface-visibility: visible;
  animation: flip 1.3s;
}
