/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow: hidden;
}

.bg-wrapper {
	background-color: #3d3e43;
	font-family: Arial;
	text-align: center;
	color: white;
	margin: 0 !important;
	padding: 0 !important;
}
